<div class="game">
    <div class="competitor">{{match.competitor.name}}</div>
    <div class="count-set-title">Round</div>
    <div class="count-set" ng-if="countSet<=3">{{countSet}}</div>
    <div class="selections">
        <table class="nav-justified">
            <tr>
                <td style="text-wrap: none" ng-repeat="value in choices">
                    <img class="btn"
                         ng-click="onClick(value)"
                         ng-src="{{value | images}}"/></td>
            </tr>
        </table>
    </div>
    <div class="selections bottom">
        <table  class="selections">
            <tr>
                <td style="text-wrap: none" ng-repeat="value in match.player.selection track by $index"><img
                        ng-src="{{value | images:'mini'}}"/></td>
            </tr>
        </table>
    </div>
</div>
