<div class="game">
    <div class="competitor">{{match.competitor.name}}</div>
    <div class="count-set-title">Round</div>
    <div class="count-set" ng-if="countSet<=3">{{countSet}}</div>
    <div class="selections">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-repeat="value in choices">
                <img class="btn"
                     ng-click="onClick(value)"
                     ng-src="./image/{{value.img}}.png"/>
            </li>
        </ul>
    </div>
    <div class="selections bottom">
       <img ng-src="./image/{{value.img}}_mini.png" ng-repeat="value in match.player.selection"/>
    </div>
</div>