
.navbar-brand{
    font-family: 'Stardos Stencil', cursive;
}

.btn { transition: all .2s ease-in-out; }
.btn:hover {
    transform: scale(1.1);
}

.competitor{
    font-size: 2em;
}

.game{
    color:#ffffff;
    text-align: center;
    height:650px;
   // padding: 15px;
}
.selections{
    margin-left: auto;
    margin-right: auto;

}

.count-set{
    font-size: 10em;
}
.count-set-title{
    font-size: 2em;
}

.button-bar{
    padding:20px;
    margin:20px;
}

.round{
    border-radius: 10px;
    background-color: darkgray;
    text-align: center;
}

.nav-tabs {
    border-bottom: none;
}

.bottom{
    margin-top: 20px;
}

.main{
    background: white url('../image/shifumi-bgd_720_huge.png') ;
}

@media screen and (max-width: 640px) {
    .main{
        background: white url('../image/shifumi-bgd_720.png') ;
    }
}

.centered{
    float: none;
    margin: 0 auto;
}