
.navbar-brand{
    font-family: 'Stardos Stencil', cursive;
}
button.rock {
    background-image: "./image/rock.png";
}
button.leaf {
    background-image: "./image/leaf.png";
}
button.scissors {
    background-image: "./image/scissors.png";
}

.btn { transition: all .2s ease-in-out; }
.btn:hover {
    transform: scale(1.1);
}

.selection img{

}

.competitor{
    font-size: 2em;
}

.game{
    background-color: #080808;
    color:#ffffff;
    text-align: center;
    height:650px;
}

.count-set{
    min-height :250px;
    font-size: 10em;
}
.count-set-title{
    font-size: 2em;
}

.button-bar{
    padding:20px;
    margin:20px;
}