<div class="game">


    <table class="selections">
        <tr >
            <td><h3 style="margin-right: 15px">{{match.competitor.name}}</h3></td>
            <td ng-if="loading"><img src="./image/loader.gif" width="25px"/></td>
            <td ng-if="!loading"><img ng-src="./image/{{match.competitor.selection[0].img}}_mini.png"/></td>
            <td ng-if="!loading"><img ng-src="./image/{{match.competitor.selection[1].img}}_mini.png"/></td>
            <td ng-if="!loading"><img ng-src="./image/{{match.competitor.selection[2].img}}_mini.png"/></td>
        </tr>
        <tr>
            <td><h3 style="margin-right: 15px"> {{match.player.name}}</h3></td>
            <td><img ng-src="./image/{{match.player.selection[0].img}}_mini.png"/></td>
            <td><img ng-src="./image/{{match.player.selection[1].img}}_mini.png"/></td>
            <td><img ng-src="./image/{{match.player.selection[2].img}}_mini.png"/></td>
        </tr>
    </table>
    <h3  ng-if="!loading">And the winner is :{{match.winner.name}}</h3>
    <button type="button"  style="margin-top: 15px" class="btn btn-default" ng-click="goToHome()">Back</button>
</div>